Repository accordproject/web-components, pull requests merged in 2020-05, with the labels that each got.

#19 chore(deps): update slate libs in storybook and peer dep semver
  packages/cicero-ui/package.json
  packages/markdown-editor/package.json
  packages/storybook/package.json
Labels: Type: Dependencies 🏠

#20 docs(*): init docs - I1
  .github/pull_request_template.md
  CONTRIBUTING.md
  DEVELOPERS.md
  LICENSE
  README.md
  assets/APLogo.png
Labels: Type: Documentation 📝

#80 fix(cicero-ui): prevent backspace at variable start - I78
  DEVELOPERS.md
  packages/cicero-ui/src/lib/ContractEditor/plugins/withVariables.js
Labels: Difficulty: Starter, Package: Cicero UI 💻, Priority: High ⚠️, Type: Bug 🐛

#84 docs(README): expand package docs
  README.md
  packages/cicero-ui/README.md
  packages/concerto-ui-react/README.md
  packages/markdown-editor/README.md
  packages/storybook/README.md
  packages/text-editor/README.md
Labels: Type: Documentation 📝

#89 fix(Clause): fix issue with background div causing slate error
  package-lock.json
  packages/cicero-ui/src/lib/ContractEditor/plugins/withClauses.js
  packages/cicero-ui/src/lib/components/Clause/index.js
  packages/cicero-ui/src/lib/components/styles.js
Labels: Package: Cicero UI 💻, Type: Bug 🐛

#90 feat(withClauses): adds canAddClause query to editor
  packages/cicero-ui/src/lib/ContractEditor/plugins/withClauses.js
Labels: Package: Cicero UI 💻, Type: Feature Request 🛍️

#93 style(Library): Add utility class to library cards wrapper
  packages/cicero-ui/src/lib/Library/README.md
  packages/cicero-ui/src/lib/Library/index.js
Labels: Package: Cicero UI 💻, Type: Enhancement ✨

#94 style(cicero-ui): Fix linter errors
  packages/cicero-ui/src/environment/App/App.js
  packages/cicero-ui/src/environment/App/App.spec.js
  packages/cicero-ui/src/environment/App/index.js
  packages/cicero-ui/src/lib/Counter/Counter.js
  packages/cicero-ui/src/lib/Counter/Counter.spec.js
  packages/cicero-ui/src/lib/Counter/index.js
  packages/cicero-ui/src/lib/Counter/useLogic.js
  packages/cicero-ui/src/lib/Counter/useLogic.spec.js
  packages/cicero-ui/src/lib/Library/Buttons/index.js
  packages/cicero-ui/src/lib/Library/Components/LibraryItemCard.js
  packages/cicero-ui/src/lib/Library/index.js
  packages/cicero-ui/src/lib/icons/remove.js
Labels: Package: Cicero UI 💻, Type: Chore 🧼

#99 feat(markdown-editor): allow format button color change through prop
  package-lock.json
  packages/cicero-ui/src/lib/ContractEditor/README.md
  packages/cicero-ui/src/lib/ContractEditor/index.js
  packages/markdown-editor/README.md
  packages/markdown-editor/src/lib/FormattingToolbar/FormatButton.js
  packages/markdown-editor/src/lib/FormattingToolbar/HyperlinkButton.js
  packages/markdown-editor/src/lib/FormattingToolbar/index.js
  packages/markdown-editor/src/lib/index.js
  packages/markdown-editor/src/lib/utilities/constants.js
Labels: Difficulty: Starter, Package: Cicero UI 💻, Package: Markdown Editor ⌨️, Type: Enhancement ✨

#101 docs(conctero-ui): init readme
  packages/concerto-ui/README.md
Labels: Package: Concerto UI 💾, Type: Documentation 📝

#104 feat(Clause): update styling so less space at top of clause
  packages/cicero-ui/src/lib/components/styles.js
Labels: Package: Cicero UI 💻

#106 feat(markdown-editor): generate id on whole header
  packages/markdown-editor/src/lib/utilities/generateId.js
Labels: Package: Markdown Editor ⌨️, Type: Breaking Change 💥, Type: Enhancement ✨
