Repository accordproject/web-components, pull requests merged in 2020-08, with the labels that each got.

#163 chore(release) Upgrade for Cicero 0.21.3
  package-lock.json
  packages/storybook/package.json
  packages/ui-concerto/package.json
  packages/ui-contract-editor/package.json
  packages/ui-markdown-editor/package.json
Labels: Type: Dependencies 🏠

#164 feat(ui-concerto): Improve rendering for relationship values
  package-lock.json
  packages/storybook/package.json
  packages/ui-concerto/package-lock.json
  packages/ui-concerto/package.json
  packages/ui-concerto/src/lib/components/concertoForm.css
  packages/ui-concerto/src/lib/components/concertoForm.js
  packages/ui-concerto/src/lib/components/fields.js
  packages/ui-concerto/src/lib/formgenerator.js
  packages/ui-concerto/src/lib/reactformvisitor.js
  packages/ui-concerto/src/lib/utilities.js
Labels: Package: UI Concerto 💾, Type: Enhancement ✨

#171 feat(ui-contract-editor): update formulas when dependent variables change
  package-lock.json
  packages/storybook/src/stories/4-ContractEditor.stories.js
  packages/ui-contract-editor/src/lib/ContractEditor/plugins/withClauses.js
  packages/ui-contract-editor/src/lib/index.js
  packages/ui-contract-editor/src/lib/utilities/getChildren.js
Labels: Difficulty: Challenging, Package: Contract Editor 💻, Type: Feature Request 🛍️

#173 fix(formula): fix tooltip flickering and crash when clicking formula
  packages/ui-contract-editor/src/lib/components/Formula/index.js
  packages/ui-contract-editor/src/lib/styles.css
Labels: Package: Contract Editor 💻, Type: Bug 🐛

#176 chore(deps): update transforms to 0.12.6 ; cicero to 0.21.4
  package-lock.json
  packages/storybook/package.json
  packages/ui-contract-editor/package.json
  packages/ui-markdown-editor/package.json
Labels: Type: Dependencies 🏠
