Repository accordproject/web-components, pull requests merged in 2020-06, with the labels that each got.

#107 refactor(cicero-ui): remove prop dependency - I70
  package-lock.json
  packages/cicero-ui/src/lib/ContractEditor/README.md
  packages/cicero-ui/src/lib/ContractEditor/test/__snapshots__/index.test.js.snap
  packages/cicero-ui/src/lib/ContractEditor/test/index.test.js
  packages/cicero-ui/src/lib/ErrorLogger/Error.js
  packages/cicero-ui/src/lib/ErrorLogger/Error.test.js
  packages/cicero-ui/src/lib/ErrorLogger/README.md
  packages/cicero-ui/src/lib/ErrorLogger/__snapshots__/Error.test.js.snap
  packages/cicero-ui/src/lib/ErrorLogger/__snapshots__/index.test.js.snap
  packages/cicero-ui/src/lib/ErrorLogger/actions.test.js
  packages/cicero-ui/src/lib/ErrorLogger/index.js
  packages/cicero-ui/src/lib/ErrorLogger/index.test.js
  packages/cicero-ui/src/lib/ErrorLogger/styles.js
  packages/cicero-ui/src/lib/Library/README.md
  packages/cicero-ui/src/lib/Library/Test/__snapshots__/index.test.js.snap
  packages/cicero-ui/src/lib/Library/Test/index.test.js
  packages/cicero-ui/src/lib/Navigation/ComponentSwitch.js
  packages/cicero-ui/src/lib/Navigation/Files/index.js
  packages/cicero-ui/src/lib/Navigation/README.md
  packages/cicero-ui/src/lib/Navigation/__snapshots__/index.test.js.snap
  packages/cicero-ui/src/lib/Navigation/generators.js
  packages/cicero-ui/src/lib/Navigation/index.js
  packages/cicero-ui/src/lib/Navigation/index.test.js
  packages/cicero-ui/src/lib/Navigation/styles.js
  packages/cicero-ui/src/lib/utilities/test/jestEnzyme.js
  packages/storybook/src/stories/5-ErrorLogger.stories.js
  packages/storybook/src/stories/6-Navigation.stories.js
Labels: Package: Cicero UI 💻, Package: Storybook 📖, Type: Breaking Change 💥, Type: Enhancement ✨

#108 fix(ContractEditor): correct onClauseUpdated call
  packages/cicero-ui/src/lib/ContractEditor/README.md
  packages/cicero-ui/src/lib/ContractEditor/plugins/withClauses.js
Labels: Package: Cicero UI 💻, Type: Bug 🐛

#116 fix(Clause): fixes clauses being uneditable in safari when draggable - #115
  packages/ui-contract-editor/src/lib/components/Clause/index.js
Labels: Package: Contract Editor 💻, Type: Bug 🐛

#117 refactor(contract-editor): support new transform parser
  package-lock.json
  packages/storybook/package-lock.json
  packages/storybook/package.json
  packages/storybook/src/stories/4-ContractEditor.stories.js
  packages/ui-contract-editor/package-lock.json
  packages/ui-contract-editor/package.json
  packages/ui-contract-editor/src/lib/ContractEditor/index.js
  packages/ui-contract-editor/src/lib/ContractEditor/plugins/withClauseSchema.js
  packages/ui-contract-editor/src/lib/ContractEditor/plugins/withClauses.js
  packages/ui-contract-editor/src/lib/components/Clause/index.js
  packages/ui-contract-editor/src/lib/components/Conditional/ConditionalSwitch.js
  packages/ui-contract-editor/src/lib/components/Conditional/index.js
  packages/ui-contract-editor/src/lib/components/actions.js
  packages/ui-contract-editor/src/lib/components/styles.js
  packages/ui-markdown-editor/package-lock.json
  packages/ui-markdown-editor/package.json
Labels: Difficulty: Medium, Package: Contract Editor 💻, Package: Markdown Editor ⌨️, Type: Dependencies 🏠

#124 fix(contract-editor): protect clause from backspace - I122
  packages/ui-contract-editor/src/lib/ContractEditor/index.js
Labels: Difficulty: Starter, Package: Contract Editor 💻, Priority: High ⚠️, Type: Bug 🐛

#127 refactor(*): upgrade to new parser
  package-lock.json
  packages/storybook/package.json
  packages/storybook/src/stories/4-ContractEditor.stories.js
  packages/ui-contract-editor/package.json
  packages/ui-markdown-editor/package.json
Labels: Package: Contract Editor 💻, Package: Markdown Editor ⌨️, Package: Storybook 📖, Type: Dependencies 🏠, Type: Enhancement ✨

#128 fix(Library): change onClick to onMouseDown to preserve selection
  packages/ui-components/src/lib/Library/Components/CardActions.js
Labels: Package: Components 🧩, Type: Bug 🐛

#129 fix(Library): change onClick to onMouseDown to preserve Slate selection
  packages/ui-components/src/lib/Library/Components/CardActions.js
Labels: Package: Components 🧩, Type: Bug 🐛
