Repository accordproject/web-components, pull requests merged in 2020-10, with the labels that each got.

#207 fix(ui-markdown-editor): close hyperlink modal when not interacting i47
  packages/ui-markdown-editor/src/lib/index.js
Labels: Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Bug 🐛

#213 feat(ui-markdown-editor): Implement link copied message - 50
  packages/ui-markdown-editor/src/lib/FormattingToolbar/HyperlinkModal.js
Labels: A11Y 🔓, Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Feature Request 🛍️, hacktoberfest-accepted

#215 fix(ui-markdown-editor): Fix flashing at style format - 97
  packages/ui-markdown-editor/src/lib/FormattingToolbar/StyleFormat/index.js
Labels: Difficulty: Medium, Package: Markdown Editor ⌨️, Type: Bug 🐛, hacktoberfest-accepted

#214 test(ui-markdown-editor): add rtl with sample test - 192
  packages/ui-markdown-editor/package.json
  packages/ui-markdown-editor/src/lib/components/Leaf.test.js
Labels: Difficulty: Starter, Type: Tests 🧪

#217 fix(ui-markdown-editor): Fix broken hyperlink shortcut - 211
  packages/ui-markdown-editor/src/lib/FormattingToolbar/HyperlinkModal.js
  packages/ui-markdown-editor/src/lib/index.js
Labels: Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Bug 🐛, hacktoberfest-accepted

#216 fix(ui-markdown-editor): Fix cannot select link - 114
  packages/ui-markdown-editor/src/lib/plugins/withLinks.js
Labels: A11Y 🔓, Difficulty: Medium, Package: Markdown Editor ⌨️, Type: Bug 🐛, hacktoberfest-accepted
