Repository accordproject/web-components, pull requests merged in 2020-09, with the labels that each got.

#183 chore(dep) Upgrade to Cicero 0.21.5 and markdown transform 0.12.7
  package-lock.json
  packages/storybook/package.json
  packages/ui-contract-editor/package.json
  packages/ui-markdown-editor/package.json
Labels: Type: Dependencies 🏠

#188 feat(markdown-editor) : SHIFT+ENTER inserts a linebreak
  package-lock.json
  packages/storybook/src/stories/1-MarkdownEditor.stories.js
  packages/ui-contract-editor/src/lib/ContractEditor/index.js
  packages/ui-markdown-editor/src/lib/components/index.js
  packages/ui-markdown-editor/src/lib/index.js
  packages/ui-markdown-editor/src/lib/plugins/withLists.js
  packages/ui-markdown-editor/src/lib/utilities/hotkeys.js
  packages/ui-markdown-editor/src/lib/utilities/toolbarHelpers.js
Labels: Difficulty: Medium, Package: Markdown Editor ⌨️, Type: Feature Request 🛍️

#198 feat(ui-concerto): support hiding form inputs using Concerto decorator
  package-lock.json
  package.json
  packages/storybook/src/stories/3-ConcertoForm.stories.js
  packages/ui-concerto/src/lib/components/fields.js
  packages/ui-concerto/src/lib/formgenerator.js
  packages/ui-concerto/src/lib/reactformvisitor.js
Labels: Difficulty: Medium, Package: UI Concerto 💾, Type: Feature Request 🛍️
