Repository accordproject/web-components, pull requests merged in 2020-07, with the labels that each got.

#132 fix(ConcertoForm): fix various bugs including DateTime error
  packages/storybook/src/stories/3-ConcertoForm.stories.js
  packages/ui-concerto/src/lib/components/concertoForm.js
  packages/ui-concerto/src/lib/components/fields.js
  packages/ui-concerto/src/lib/reactformvisitor.js
Labels: Package: UI Concerto 💾, Type: Bug 🐛

#135 fix(ConcertoForm): fix various bugs including DateTime error
  packages/storybook/src/stories/3-ConcertoForm.stories.js
  packages/ui-concerto/src/lib/components/concertoForm.js
  packages/ui-concerto/src/lib/components/fields.js
  packages/ui-concerto/src/lib/reactformvisitor.js
Labels: Package: UI Concerto 💾, Type: Bug 🐛

#140 fix(ConcertoForm): use DateTime format consistent with Cicero and fix…
  packages/storybook/src/stories/3-ConcertoForm.stories.js
  packages/ui-concerto/src/lib/components/fields.js
Labels: Package: UI Concerto 💾, Type: Bug 🐛

#143 feat(ui-markdown-editor): match style of dropdown headings - i103
  package-lock.json
  packages/storybook/src/stories/1-MarkdownEditor.stories.js
  packages/storybook/src/stories/__snapshots__/1-MarkdownEditor.test.js.snap
  packages/storybook/src/stories/__snapshots__/4-ContractEditor.test.js.snap
  packages/ui-markdown-editor/src/lib/components/Node/Heading.js
  packages/ui-markdown-editor/src/lib/components/index.js
  packages/ui-markdown-editor/src/lib/utilities/constants.js
Labels: Package: Markdown Editor ⌨️, Type: Enhancement ✨

#148 fix(ui-contract-editor): prevent variable splice - I74
  package-lock.json
  packages/ui-contract-editor/src/lib/ContractEditor/plugins/withVariables.js
Labels: Difficulty: Starter, Package: Contract Editor 💻, Type: Bug 🐛

#147 feat(*): init optional variable support - I145
  package-lock.json
  packages/storybook/package.json
  packages/storybook/src/stories/4-ContractEditor.stories.js
  packages/ui-contract-editor/package.json
  packages/ui-contract-editor/src/lib/ContractEditor/index.js
  packages/ui-contract-editor/src/lib/ContractEditor/plugins/withClauseSchema.js
  packages/ui-contract-editor/src/lib/components/Optional/OptionalBoolean.js
  packages/ui-contract-editor/src/lib/components/Optional/OptionalSwitch.js
  packages/ui-contract-editor/src/lib/components/Optional/index.js
  packages/ui-contract-editor/src/lib/components/styles.js
  packages/ui-contract-editor/src/lib/styles.css
  packages/ui-markdown-editor/package.json
Labels: Package: Contract Editor 💻, Type: Feature Request 🛍️

#149 feat(ui-markdown-editor): init thematic break functionality - I24
  packages/ui-markdown-editor/src/lib/FormattingToolbar/InsertButton.js
  packages/ui-markdown-editor/src/lib/FormattingToolbar/index.js
  packages/ui-markdown-editor/src/lib/components/Span/HorizontalRule.js
  packages/ui-markdown-editor/src/lib/components/icons/index.js
  packages/ui-markdown-editor/src/lib/components/icons/tbreak.js
  packages/ui-markdown-editor/src/lib/components/index.js
  packages/ui-markdown-editor/src/lib/index.js
  packages/ui-markdown-editor/src/lib/utilities/hotkeys.js
  packages/ui-markdown-editor/src/lib/utilities/toolbarHelpers.js
Labels: Difficulty: Medium, Package: Markdown Editor ⌨️, Type: Feature Request 🛍️

#152 fix(ui-markdown-editor): add 0 to element before last in anchor and focus - i134
  packages/ui-markdown-editor/src/lib/utilities/toolbarHelpers.js
Labels: Package: Markdown Editor ⌨️, Type: Bug 🐛
