Repository accordproject/web-components, pull requests merged in 2021-04, with the labels that each got.

#303 fix(ui-markdown-editor): hyperlink markdown text conversion - #301
  packages/ui-markdown-editor/src/plugins/withLinks.js
Labels: Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Bug 🐛

#302 feat(ui-markdown-editor): heading refactor - #293
  packages/ui-markdown-editor/src/FormattingToolbar/StyleFormat/index.js
  packages/ui-markdown-editor/src/utilities/constants.js
  packages/ui-markdown-editor/src/utilities/toolbarHelpers.js
Labels: Package: Markdown Editor ⌨️, Type: Feature Request 🛍️

#319 fix(ui-markdown-editor): Resize clickable area - #318
  packages/ui-markdown-editor/src/components/icons/image.js
  packages/ui-markdown-editor/src/components/icons/tbreak.js
Labels: A11Y 🔓, Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Styling :nail_care:

#288 feat(ui-markdown-editor): direct page break - #276
  packages/ui-markdown-editor/src/index.js
  packages/ui-markdown-editor/src/plugins/withText.js
Labels: A11Y 🔓, Difficulty: Medium, Package: Markdown Editor ⌨️, Type: Feature Request 🛍️
