Repository accordproject/web-components, pull requests merged in 2021-02, with the labels that each got.

#236 fix(ui-contract-editor): adjust tooltip z-index - I185
  packages/ui-contract-editor/src/styles.css
Labels: A11Y 🔓, Difficulty: Starter, Package: Contract Editor 💻, Type: Bug 🐛

#237 feat(ui-markdown-editor): center align h1 tags - I146
  packages/ui-markdown-editor/src/utilities/constants.js
Labels: Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Feature Request 🛍️

#231 fix(ui-contract-editor): prevent clause drag and drop in list - I157
  packages/ui-contract-editor/src/ContractEditor/index.js
Labels: Difficulty: Medium, Package: Contract Editor 💻, Type: Bug 🐛

#239 fix (library) : Long template name intersects with Logo (#184)
  packages/ui-components/src/Library/Components/LibraryItemCard.js
Labels: A11Y 🔓, Difficulty: Starter, Package: Components 🧩, Type: Bug 🐛

#240 fix(ui-contract-editor) prevent sig variable edits on readOnly - I212
  packages/ui-contract-editor/src/ContractEditor/plugins/withVariables.js
Labels: Difficulty: Medium, Package: Contract Editor 💻, Type: Bug 🐛

#243 feat(package): add repository information to package.json
  package.json
Labels: A11Y 🔓, Difficulty: Starter, Type: Enhancement ✨

#251 fix(ui-contract-editor): Highlight read-only text clause template - i242
  packages/ui-contract-editor/src/components/Clause/index.js
Labels: A11Y 🔓, Difficulty: Starter, Package: Contract Editor 💻, Type: Bug 🐛

#250 feat(ui-contract-editor):drag&drop disabled for embeded clauses
  packages/ui-contract-editor/src/components/Clause/index.js
Labels: A11Y 🔓, Package: Contract Editor 💻, Type: Feature Request 🛍️

#247 feat(package): add repository information to package.json
  packages/storybook/package.json
  packages/ui-components/package.json
  packages/ui-concerto/package.json
  packages/ui-contract-editor/package.json
  packages/ui-markdown-editor/package.json
Labels: A11Y 🔓, Difficulty: Starter, Type: Enhancement ✨
