Repository accordproject/web-components, pull requests merged in 2021-03, with the labels that each got.

#273 feat(ui-concerto): Upgrade to Concerto v1.0
  package-lock.json
  packages/storybook/src/stories/3-ConcertoForm.stories.js
  packages/ui-concerto/package.json
  packages/ui-concerto/src/__snapshots__/formgenerator.test.js.snap
  packages/ui-concerto/src/components/__snapshots__/concertoFormWrapper.test.js.snap
  packages/ui-concerto/src/components/concertoForm.js
  packages/ui-concerto/src/components/concertoFormWrapper.test.js
  packages/ui-concerto/src/components/fields.js
  packages/ui-concerto/src/formgenerator.js
  packages/ui-concerto/src/formgenerator.test.js
  packages/ui-concerto/src/reactformvisitor.js
  packages/ui-concerto/src/utilities.js
  packages/ui-concerto/test/data/relationship.cto
  packages/ui-concerto/test/data/specialTypes.cto
  packages/ui-concerto/test/data/specialTypes.json
Labels: Package: UI Concerto 💾, Type: Chore 🧼

#275 fix(ui-markdown-editor): typo in readme - #274
  README.md
Labels: Type: Bug 🐛

#292 fix(ui-markdown-editor): text deselection - #291
  packages/ui-markdown-editor/src/FormattingToolbar/StyleFormat/index.js
Labels: Difficulty: Starter, Package: Markdown Editor ⌨️, Type: Bug 🐛

#298 fix(ui-markdown-editor): handle cut image operation - #294
  packages/ui-markdown-editor/src/index.js
Labels: Package: Markdown Editor ⌨️, Type: Bug 🐛

#285 chore(changelog): Add script to generate release notes
  DEVELOPERS.md
  package-lock.json
  package.json
Labels: Type: Chore 🧼

#304 fix(ui-contract-editor): styling dropdown - #278
  packages/ui-markdown-editor/src/FormattingToolbar/ToolbarMenu.js
Labels: Difficulty: Starter, Package: Contract Editor 💻, Type: Bug 🐛

#282 feat(storybook): cypress setup for the project
  README.md
  package-lock.json
  packages/storybook/.gitignore
  packages/storybook/cypress.json
  packages/storybook/cypress/fixtures/example.json
  packages/storybook/cypress/plugins/index.js
  packages/storybook/cypress/storybook/storybook.spec.js
  packages/storybook/cypress/support/commands.js
  packages/storybook/cypress/support/index.js
  packages/storybook/package-lock.json
  packages/storybook/package.json
Labels: Type: Chore 🧼

#310 docs(readme): interaction test script corrected
  README.md
Labels: Type: Documentation 📝

#316 feat(build): migrate from travis to GitHub actions - #235
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .travis.yml
  .travis/base.sh
  .travis/build.cfg
  .travis/deploy.sh
  .travis/fix_github_https_repo.sh
  .travis/github_deploy_key.enc
  .travis/stable.sh
  .travis/test.sh
  .travis/unstable.sh
  README.md
  package-lock.json
  package.json
  packages/storybook/README.md
  packages/storybook/package-lock.json
  packages/storybook/package.json
  scripts/depcheck.js
  scripts/manualrelease.sh
  scripts/pkgcheck.js
  scripts/pkgset.js
  scripts/pkgstamp.js
  scripts/scan-all-modules.sh
  scripts/tag.js
  scripts/timestamp.js
Labels: Package: Components 🧩, Type: Chore 🧼

#324 docs(README): sync package docs
  README.md
  packages/storybook/README.md
  packages/ui-components/README.md
  packages/ui-concerto/README.md
  packages/ui-contract-editor/README.md
  packages/ui-contract-editor/src/ContractEditor/README.md
  packages/ui-markdown-editor/README.md
Labels: Type: Documentation 📝
